@media (min-width: 992px) and (max-width: 1200px) {
  /* header_part start */
  .menu .nav-item {
    margin-left: 15px;
  }
  .menu .nav-item .nav-link {
    font-size: 14px;
    font-weight: 500;
  }
  /* shopping_cart_part start */
  .price::after {
    left: 57%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* common css start */
  .theme_heading h3 {
    font-size: 3rem;
  }
  /* header_part start */
  .menu .nav-item .nav-link i {
    display: inline-block;
    padding-right: 10px;
  }
  #header_part .search_box i {
    left: 4%;
  }
  /* shop_part start */
  .shop_item {
    padding: 45px 20px;
  }
  /* shopping_cart_part start */
  .price::after {
    left: 57%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  /* common css start */
  #add_part,
  #product_part,
  #shop_part {
    padding: 60px 0;
  }
  .theme_heading h3 {
    font-size: 2.5rem;
  }
  .theme_heading h3::after {
    top: 65px;
  }
  /* header_part start */
  .menu .nav-item .nav-link i {
    display: inline-block;
    padding-right: 10px;
  }
  #header_part .search_box i {
    left: 6%;
  }
  /* shop_part start */
  .shop_item,
  .product_box {
    margin-top: 40px;
  }
  /* add_part start */
  .add_part_left {
    text-align: center;
    margin-bottom: 40px;
  }
  /* shopping_cart_part start */
  .price::after {
    left: 59%;
  }
  /* footer_part start */
  .footer_logo,
  .footer_link {
    margin-bottom: 35px;
  }
}
@media (min-width: 400px) and (max-width: 575px) {
  /* common css start */
  #add_part,
  #product_part,
  #shop_part {
    padding: 60px 0;
  }
  .theme_heading h3 {
    font-size: 2rem;
  }
  .theme_heading h3::after {
    top: 55px;
  }
  /* header_part start */
  .menu .nav-item .nav-link i {
    display: inline-block;
    padding-right: 10px;
  }
  #header_part .search_box i {
    left: 6%;
  }
  /* product_part start */
  .product_box {
    margin-top: 30px;
  }
  /* add_part start */
  .add_part_left {
    text-align: center;
    margin-bottom: 30px;
  }
  .add_part_right .swiper {
    width: 190px;
    height: 300px;
  }
  .add_part_right .swiper-slide {
    border: 5px solid #f7f8f7;
  }
  /* footer_part start */
  .footer_logo,
  .footer_link {
    margin-bottom: 35px;
  }
}
